body{
    background-color: darkolivegreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
}
.container{
    margin: auto;
    width: 700px;
    padding: 20px;
}
h3{
    font-size: x-large;
    font-weight: 300;
}